@{ Layout = null;}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FAS Dummy</title>
</head>
<body>

    <div>
        <h3></h3>
        <div id="applicationHost">

        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/vendor")

    <script src="~/signalr/hubs"></script>

    <script type="text/javascript">var $siteroot = "@Url.Content("~")";</script>
    <script type="text/javascript" src="~/App/main-built.js"></script>
    @*<script type="text/javascript" src="~/Scripts/require.js" data-main="@Href("~/")App/main"></script>*@

</body>
</html>
